# Project specific
test-result/
stitch_screens
scratch/
temp_config.js

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.trash
.nfs*

# Node / npm / Vite project files
node_modules/
/dist
/dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
.stylelintcache
.vite/

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# Temporary files
temp_config.js

